<div class='categories'>
  <div class='category-wrap'>
    <div class='categories-title'>
      Categories
    </div>

    <ul>
      <%= link_to discussions_path do %>
        <li class='<%= all_categories?(@category) %>'>
          All categories
        </li>
      <% end %>

      <% @categories.each do |category| %>
        <%= link_to discussions_path(category: category.slug) do %>
          <li class='<%= active_category?(@category, category) %>'>
            <%= category.name %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>