<section class='community-content'>
  <span class='mobile-categories'>
    <%= render 'categories' %>
  </span>

  <div class='community-container'>
    <% @discussions.each do |discussion| %>
      <article class='single-community-item'>
        <div class='post-description'>
          <h2><%= link_to discussion.title, discussion_path(discussion) %></h2>

          <ul class='post-items'>
            <li class='post-item'>
              By <% if discussion.admin_id? %>
                <span class='admin-post'><%= discussion.username %></span>
              <% else %>
                <%= discussion.username %>
              <% end %>
            </li>
            <li class='post-item' momentTime='<%= l(discussion.updated_at, format: :moment) %>'>
              <%= discussion.created_at.to_date %>
            </li>
            <li class='post-item--last'>
              <%= link_to discussion.discussion_category.name,
                  discussions_path(category: discussion.discussion_category.slug) %>
            </li>
          </ul>
        </div>

        <div class='comment-count'>
          <%= discussion.discussion_comments_count %>
          <span class='replies'>
            <%= "response".pluralize(discussion.discussion_comments_count) %>
          </span>
        </div>
      </article>
    <% end %>
  </div>

  <span class='desktop-categories'>
    <%= render 'categories' %>
  </span>
</section>