<div class='community-content'>
  <%= link_to 'Back to discussions', discussions_path %>
</div>

<article class='community-content single-discussion'>
  <div class='breadcrumb-wrapper'>
    <%= @discussion.title %>
  </div>

  <div class='discussion-content'>
    <%= image_tag 'http://placehold.it/150x150', class: 'user-avatar' %>

    <div class='post-content'>
      <div class='discussion-body'>
        <%= @discussion.body %>
      </div>

      <div class='discussion-details'>
        <%= @discussion.username %> posted on <%= @discussion.created_at.to_date %>
      </div>
    </div>
  </div>
</article>

<% @discussion.discussion_comments.each do |comment| %>
  <article class='community-content single-discussion--reply' id="comment-<%= comment.id%>">
    <div class='discussion-content'>
      <%= image_tag 'http://placehold.it/150x150', class: 'user-avatar' %>

      <div class='post-content'>
        <div class='discussion-body'>
          <%= comment.body %>
        </div>

        <div class='discussion-details'>
          <%= comment.username %> posted on <%= @discussion.created_at.to_date %>
        </div>
      </div>
    </div>
  </article>
<% end %>

<article class='community-content single-discussion--reply'>
  <div class='comment-form--container'>
    <%= form_for DiscussionComment.new do |f| %>
      <div class='discussion-form'>
        <div class='discussion-form--body'>
          <%= f.label :body, 'Have something to add?', class: 'discussion-form--label' %>
          <%= f.text_area :body, class: 'discussion-form--input comment-form--textarea' %>
        </div>

        <%= f.hidden_field :user_id, value: @current_user.id %>
        <%= f.hidden_field :admin_id, value: @admin_id %>
        <%= f.hidden_field :discussion_id, value: @discussion.id %>
      </div>

      <footer class='discussion-form--footer'>
        <%= f.submit "Respond", class: "greenbutton" %>
      </footer>
    <% end %>
  </div>
</article>