<% content_for(:title) { h(@discussion.title) } %>

<div class='community-content'>
  <%= link_to 'Back to discussions', discussions_path %>
</div>

<article class='community-content single-discussion'>
  <div class='breadcrumb-wrapper'>
    <%= @discussion.title %>
  </div>

  <div class='discussion-content'>
    <%= image_tag(@discussion.user_avatar(*avatar_opts), class: 'user-avatar', alt: 'avatar') %>

    <div class='post-content'>
      <div class='discussion-body'>
        <%= auto_link simple_format emojify(@discussion.body), class: 'discussion-paragraph' %>
      </div>

      <div class='discussion-details'>
        <% if @discussion.admin_id? %>
          <span class='admin-post'><%= @discussion.username %></span> posted
        <% else %>
          <%= @discussion.username %> posted
        <% end %>

        <span momentTime='<%= l(@discussion.created_at, format: :moment) %>'>
          on <%= @discussion.created_at.to_date %>
        </span>
      </div>

      <% if editable_discussion? @discussion %>
        <%= link_to 'Edit this post', edit_discussion_path(@discussion) %>
      <% end %>
    </div>
  </div>
</article>

<% @comments.each do |comment| %>
  <article class='community-content single-discussion--reply' id="comment-<%= comment.id%>">
    <div class='discussion-content'>
      <% if comment.hidden? %>
        This response has been removed.

        <% if @current_admin %>
          <%= link_to 'View comment in dashboard', edit_admin_comment_path(comment) %>
        <% end %>
      <% else %>
        <%= image_tag(comment.user_avatar(*avatar_opts), class: 'user-avatar', alt: 'avatar') %>
        <div class='post-content'>
          <div class='discussion-body'>
            <%= auto_link simple_format emojify(comment.body), class: 'discussion-paragraph' %>
          </div>

          <div class='discussion-details'>
            <% if comment.admin_id? %>
              <span class='admin-post'><%= comment.username %></span> posted
            <% else %>
              <%= comment.username %> posted
            <% end %>

            <span momentTime='<%= l(comment.created_at, format: :moment) %>'>
              on <%= comment.created_at.to_date %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </article>
<% end %>

<article class='community-content single-discussion--reply'>
  <% if @current_user.can_contribute? || current_admin %>
    <div class='comment-form--container'>
      <%= form_for @comment do |f| %>
        <div class='discussion-form'>
          <div class='discussion-form--body'>
            <%= f.label :body, 'Have something to add?', class: 'discussion-form--label' %>
            <%= f.text_area :body, class: 'discussion-form--input comment-form--textarea' %>
          </div>

          <% if @current_user.guest? && !current_admin %>
            <%= f.label :humanizer_answer, "Prove you're human: #{@comment.humanizer_question}",
                class: 'discussion-form--label' %>
            <%= f.text_field :humanizer_answer, class: 'discussion-form--input' %>
            <%= f.hidden_field :humanizer_question_id %>
          <% end %>

          <%= f.hidden_field :discussion_id, value: @discussion.id %>
          <% if current_admin %>
            <%= f.hidden_field :admin_id, value: @admin_id %>
          <% else %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <%= f.hidden_field :guest_id, value: cookies[:mybema_guest_id] %>
          <% end %>
        </div>

        <footer class='discussion-form--footer'>
          <%= f.submit "Respond", class: "greenbutton" %>
        </footer>
      <% end %>
    </div>
  <% else %>
    <div class='join-community-wrapper'>
      Please <%= link_to 'sign in', new_user_session_path %> to contribute.
    </div>
  <% end %>
</article>