<section class='home-search'>
  <br />
  <%= render 'shared/search' %>
</section>

<h1 class='sv-margin ctr-txt'>
  <%= pluralize @search_results.size, 'search result' %>:
</h1>


<section class='search-container'>
  <% @search_results.each do |result| %>
    <div class="search-result">
      <div class='search-result--wrapper search-result--<%= result._type %>-wrapper'>
        <div class='search-result--<%= result._type %>'>
          <%= result._type %>
        </div>
      </div>

      <div class="search-result--content">
        <%= link_to result.title, eval("#{result._type}_path(result.id)") %>
        <div class='sv-margin'>
          <%= result.body.truncate(350) %>
        </div>
      </div>
    </div>
  <% end %>
</section>