<h4 class='config-section--heading'>
  Header section
</h4>

<p class='config-section--description'>
  Customize your community's header and logo.
</p>

<%= form_for @app do |f| %>
  <div class='admin-image-upload-container'>
    <div class='discussion-form--body'>
      <%= f.label :nav_bg_color, 'Header background color' %>
      <%= f.text_field :nav_bg_color, class: 'discussion-form--short-input' %>
    </div>

    <div class='discussion-form--body'>
      <%= f.label :nav_link_color, 'Header link color' %>
      <%= f.text_field :nav_link_color, class: 'discussion-form--short-input' %>
    </div>

    <div class='discussion-form--body'>
      <%= f.label :nav_link_hover_color, 'Header link hover color' %>
      <%= f.text_field :nav_link_hover_color, class: 'discussion-form--short-input' %>
    </div>

    <div class='admin-image-upload-wrapper'>
      <div class='discussion-form--label'>
        <div class='homepage-image-header'>
          Logo
        </div>

        <%= image_tag @app.logo_image, class: 'user-avatar inline-avatar', alt: 'logo' %>
        <%= f.file_field :logo, class: 'borderless inline-upload-form' %>
      </div>
    </div>
  </div>

  <%= f.submit "update header", class: "greenbutton" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    // set fields to be the currently saved values
    $("#app_settings_nav_bg_color").val('<%= @app.nav_bg_color %>');
    $("#app_settings_nav_link_color").val('<%= @app.nav_link_color %>');
    $("#app_settings_nav_link_hover_color").val('<%= @app.nav_link_hover_color %>');

    // update values in actual elements as user types them in
    $("#app_settings_nav_bg_color").keyup(function() {
      $('nav').css('background-color', $('#app_settings_nav_bg_color').val());
    });

    $("#app_settings_nav_link_color").keyup(function() {
      $('.nav--list li').css('color', $('#app_settings_nav_link_color').val());
    });

    $("#app_settings_nav_link_hover_color").keyup(function() {
      $(".nav--li, .logo-wrapper").hover(function() {
        $(this).css('background-color', $('#app_settings_nav_link_hover_color').val());
      }, function() {
        $(this).css("background-color", $('#app_settings_nav_bg_color').val());
      });
    });
  });
</script>