<h4 class='config-section--heading'>
  Header section
</h4>

<p class='config-section--description'>
  Customize your community's header and logo.
</p>

<%= form_for @app do |f| %>
  <div class='admin-image-upload-container'>
    <div class='discussion-form--body'>
      <%= f.text_field :nav_bg_color, class: 'discussion-form--short-input' %>
      <%= f.label :nav_bg_color, 'Header background color' %>
    </div>

    <div class='discussion-form--body'>
      <%= f.text_field :nav_link_color, class: 'discussion-form--short-input' %>
      <%= f.label :nav_link_color, 'Header link color' %>
    </div>

    <div class='discussion-form--body'>
      <%= f.text_field :nav_link_hover_color, class: 'discussion-form--short-input' %>
      <%= f.label :nav_link_hover_color, 'Header link hover color' %>
    </div>

    <br />

    <div class='admin-image-upload-wrapper'>
      <div class='discussion-form--label'>
        <div class='homepage-image-header'>
          Logo
        </div>

        <%= image_tag @app.logo_image, class: 'user-avatar inline-avatar', alt: 'logo' %>
        <%= f.file_field :logo, class: 'borderless inline-upload-form' %>
      </div>
    </div>
  </div>

  <%= f.submit "update header", class: "greenbutton" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#app_settings_nav_bg_color").spectrum({
      preferredFormat: "hex",
      color: '<%= @app.nav_bg_color %>',
      move: function(color) {
        $('nav, .nav--li, .logo-wrapper').css('background-color', color);
      }
    });

    $("#app_settings_nav_link_color").spectrum({
      preferredFormat: "hex",
      color: '<%= @app.nav_link_color %>',
      move: function(color) {
        $('.nav--list li').css('color', color);
      }
    });

    $("#app_settings_nav_link_hover_color").spectrum({
      preferredFormat: "hex",
      color: '<%= @app.nav_link_hover_color %>',
      move: function(color) {
        $(".nav--li, .logo-wrapper").hover(function() {
          $(this).css('background-color', color);
        }, function() {
          $(this).css("background-color", $('nav').val());
        });
      }
    });
  });
</script>