<h4 class='config-section--heading'>
  Hero message
</h4>

<p class='config-section--description'>
  Your hero message is shown on your community's homepage to new visitors.
</p>

<%= form_for @app do |f| %>
  <div>
    <% if @app.errors.any? %>
      <ul>
        <% @app.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class='discussion-form--body'>
      <%= f.label :hero_message %>
      <%= f.text_area :hero_message, class: 'discussion-form--input' %>
    </div>
  </div>

  <%= f.submit "update hero message", class: "greenbutton" %>
<% end %>