<section class='dashboard-container full-height'>
  <h2 class='admin-section-header'>
    Settings
  </h2>

  <p class='main-description'>
    This page contains the settings that you can adjust to customize your community.
  </p>

  <section class='config-section'>
    <%= render 'hero_message' %>
  </section>

  <section class='config-section'>
    <%= render 'community_title' %>
  </section>

  <section class='config-section'>
    <%= render 'ga_code' %>
  </section>

  <section class='config-section'>
    <%= render 'email_settings' %>
  </section>

  <section class='config-section'>
    <%= render 'welcome_email' %>
  </section>

  <section class='config-section'>
    <%= render 'domain_address' %>
  </section>

  <section class='config-section'>
    <%= render 'guest_posting' %>
  </section>

  <section class='config-section'>
    <%= render 'header' %>
  </section>

  <section class='config-section'>
    <%= render 'homepage_icons' %>
  </section>
</section>