<section class='dashboard-container'>
  <h2 class='admin-section-header'>
    Sections
  </h2>

  <p class='guidelines-intro'>
    Your knowledgebase currently has the following sections:
  </p>

  <div class='admin-btn-wrapper'>
    <%= link_to 'New section', new_admin_section_path, class: 'admin-btn green-btn' %>
  </div>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Section</th>
        <th class='ctr-txt'>Articles</th>
        <th class='rght-txt'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td class='clickable-row js-clickable-row' data-url='<%= admin_section_path(section) %>'>
            <%= link_to section.title, admin_section_path(section) %>
          </td>

          <td class='ctr-txt'>
            <%= section.articles_count %>
          </td>

          <td class='rght-txt clickable-row js-clickable-row'
              data-url='<%= edit_admin_section_path(section) %>'>
            <%= link_to 'manage', edit_admin_section_path(section) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>