<section class='dashboard-container'>
  <p class='guidelines-intro'>
    The <%= @section.title %> section has <%= @section.articles_count %> articles:
  </p>

  <%= link_to 'New article', new_admin_section_path, class: 'admin-greenbutton flt-rght' %>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Article</th>
        <th class='ctr-txt'>Created at</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr class='clickable-row js-clickable-row' data-url='<%= admin_section_path(article) %>'>
          <td>
            <%= link_to article.title, admin_sections_path %>
          </td>

          <td class='ctr-txt'>
            <%= article.created_at.to_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>