<section class='dashboard-container'>
  <p class='guidelines-intro'>
    The <%= @section.title %> section has <%= @section.articles_count %> articles:
  </p>

  <%= link_to 'New article', new_admin_section_article_path(@section), class: 'admin-btn green-btn flt-rght' %>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Article</th>
        <th class='ctr-txt'>Created at</th>
        <th class='rght-txt'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class='clickable-row js-clickable-row' data-url='<%= article_path(article) %>'>
            <%= link_to article.title, article_path(article) %>
          </td>

          <td class='ctr-txt' momentTime='<%= l(article.updated_at, format: :moment) %>'>
            <%= article.created_at.to_date %>
          </td>

          <td class='rght-txt'>
            <%= link_to 'manage', edit_admin_section_article_path(@section, article) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>