<section class='community-content'>
  <div class='profile-container'>
    <%= image_tag(@user.avatar_url, class: 'profile-avatar', alt: @user.username) %>

    <div class='profile-username'>
      <%= @user.username %>
    </div>

    <div class='profile-bio'>
      <%= @user.bio %>
    </div>
  </div>
</section>

<% if @user_discussions.any? %>
  <section class='community-content'>
    <div class='profile-discussions-header'>
      <h2>
        Discussions started
      </h2>
    </div>

    <% @user_discussions.each do |discussion| %>
      <div class='profile-content-container'>
        <%= link_to discussion.title, discussion_path(discussion.slug) %> in <%= link_to discussion.discussion_category.name, discussions_path(category: discussion.discussion_category.slug) %>
      </div>
    <% end %>
  </section>
<% end %>

<% if @user_responses.any? %>
  <section class='community-content'>
    <div class='profile-discussions-header'>
      <h2>
        Responses posted
      </h2>
    </div>

    <% @user_responses.each do |response| %>
      <div class='profile-content-container'>
        <div class='profile-comment-link'>
          Posted in <%= link_to response.discussion.title, discussion_path(response.discussion.slug) %>
        </div>

        <div class='profile-comment'>
          <%= response.body %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>