<section class='dashboard-container'>
  <p class='guidelines-intro'>
    These are the existing discussions in your community. You can and should regularly also start new discussions.
  </p>

  <%= link_to 'New discussion', new_discussion_path, class: 'admin-greenbutton flt-rght' %>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Discussion</th>
        <th>Responses</th>
        <th>Activity</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @discussions.each do |discussion| %>
        <tr>
          <td class='clickable-row js-clickable-row' data-url='<%= discussion_path(discussion) %>'>
            <%= link_to discussion.title, discussion_path(discussion) %>

            <div class='discussion-detail'>
              <%= discussion.category_name %>
            </div>
          </td>

          <td class='ctr-txt'>
            <%= discussion.discussion_comments_count %>
          </td>

          <td class='ctr-txt'>
            <%= discussion.updated_at.to_date %>
          </td>

          <td class='ctr-txt clickable-row js-clickable-row' data-url='<%= discussion_path(discussion) %>'>
            <%= link_to 'manage', edit_admin_discussion_path(discussion) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>