<nav>
  <div class='nav-wrapper'>
    <div class='logo-wrapper'>
      <%= link_to image_tag('new-logo.png'), root_path, class: 'nav--logo' %>
    </div>

    <span class='desktop-categories'>
      <%= render 'shared/search' %>
    </span>

    <div class='nav--list'>
      <ul>
        <%= link_to discussions_path, class: 'nav--li' do %>
          <li>
            Discussions
          </li>
        <% end %>

        <%= link_to sections_path, class: 'nav--li' do %>
          <li>
            Answers
          </li>
        <% end %>

        <% if @current_user.logged_in? %>
          <%= link_to profile_path, class: 'nav--li' do %>
            <li>
              Profile
            </li>
          <% end %>
        <% end %>

        <% if current_admin %>
          <%= link_to admin_path, class: 'nav--li' do %>
            <li>
              Admin
            </li>
          <% end %>
        <% elsif @current_user.guest? %>
          <%= link_to new_user_session_path, class: 'nav--li' do %>
            <li>
              Log in
            </li>
          <% end %>
        <% else %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav--li' do %>
            <li>
              Log out
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<span class='mobile-categories'>
  <div class='mobile-search-wrapper'>
    <%= render 'shared/search' %>
  </div>
</span>