<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Mybema', root_path, class: 'logo-wrapper' %>

    <div class='nav--list'>
      <ul>
        <li class='nav--li'>
          <%= link_to 'Discussions', discussions_path %>
        </li>

        <li class='nav--li'>
          <%= link_to 'Answers', sections_path %>
        </li>

        <% if @current_user.logged_in? %>
          <li class='nav--li'>
            <%= link_to 'Profile', profile_path %>
          </li>
        <% end %>

        <li class='nav--li'>
          <% if current_admin %>
            <%= link_to 'Admin', admin_path %>
          <% elsif @current_user.guest? %>
            <%= link_to 'Log in', new_user_session_path %>
          <% else %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>