<section class='homepage-hero'>
  <% if displayable_hero(@hero_message) %>
    <div class='home-hero-message'>
      <div class='home-hero--dismiss-btn'>&times;</div>
      <%= @hero_message.message %>
    </div>
  <% end %>

  <div class="hero-section-container">
    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to discussions_path do %>
          <img src='http://i.imgur.com/AjZ9OnH.png' width='150' height='150'>
          <div class='hero-section--description'>
            All discussions

            <div class="hero-section--blurb">
              View all of the community's categories and discussions
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to discussions_path do %>
          <img src='http://i.imgur.com/AjZ9OnH.png' width='150' height='150'>
          <div class='hero-section--description'>
            All articles

            <div class="hero-section--blurb">
              Find tutorials and answers to frequently asked questions
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if show_community_join_button? %>
      <div class='hero-section'>
        <div class='hero-section--inner-wrapper'>
          <%= link_to new_user_registration_path do %>
            <img src='http://i.imgur.com/AjZ9OnH.png' width='150' height='150'>
            <div class='hero-section--description'>
              Join the community

              <div class="hero-section--blurb">
                Sign up for a more personalized experience
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to new_discussion_path do %>
          <img src='http://i.imgur.com/AjZ9OnH.png' width='150' height='150'>
          <div class='hero-section--description'>
            Start a discussion

            <div class="hero-section--blurb">
              Share something or ask the community a question
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>