<section class='homepage-hero'>
  <% if displayable_hero(@app.hero_message) %>
    <div class='home-hero-message'>
      <div id='dismiss-hero-msg' class='home-hero--dismiss-btn'>&times;</div>
      <%= @app.hero_message %>
    </div>
  <% end %>

  <div class="hero-section-container">
    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to discussions_path do %>
          <%= image_tag(@app.all_discussions_image, class: 'homepage-hero-image', alt: 'all discussions') %>
        <% end %>

        <div class='hero-section--description'>
          <div class="hero-section--blurb">
            View all of the community's categories and discussions
          </div>

          <%= link_to discussions_path do %>
            <button class='hero-cta'>All discussions</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to sections_path do %>
          <%= image_tag(@app.all_articles_image, class: 'homepage-hero-image', alt: 'all articles') %>
        <% end %>

        <div class='hero-section--description'>
          <div class="hero-section--blurb">
            Find tutorials and answers to frequently asked questions
          </div>

          <%= link_to sections_path do %>
            <button class='hero-cta'>All articles</button>
          <% end %>
        </div>
      </div>
    </div>

    <% if show_community_join_button? %>
      <div class='hero-section'>
        <div class='hero-section--inner-wrapper'>
          <%= link_to new_user_registration_path do %>
            <%= image_tag(@app.join_community_image, class: 'homepage-hero-image', alt: 'join community') %>
          <% end %>

          <div class='hero-section--description'>
            <div class="hero-section--blurb">
              Sign up for a more personalized experience
            </div>

            <%= link_to new_user_registration_path do %>
              <button class='hero-cta'>Join the community</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='hero-section'>
      <div class='hero-section--inner-wrapper'>
        <%= link_to new_discussion_path do %>
          <%= image_tag(@app.new_discussion_image, class: 'homepage-hero-image', alt: 'start new discussion') %>
        <% end %>

        <div class='hero-section--description'>
          <div class="hero-section--blurb">
            Share something or ask the community a question
          </div>

          <%= link_to new_discussion_path do %>
            <button class='hero-cta'>Start a discussion</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>