<section class='home-search'>
  <div class='home-hero-message'>
    Welcome to the Mybema community. If you've got a question about Mybema, try finding here before contacting our customer service. You can search below or navigate via the links above. See our knowledge base for official articles written by us about the most common issues you may experience. If you don't find what you're looking for there, you can also interact with our representitives and customers by joining or starting a new discussion.
  </div>

  <%= render 'shared/search' %>

  <ul class='right-action-nav'>
    <li class='right-action-nav-li'>
      <%= link_to 'add discussion', new_discussion_path, class: 'greenbutton' %>
    </li>
  </ul>

  <% if show_community_join_button? %>
    <ul class='join-community-wrapper'>
      <li class='right-action-nav-li'>
        <%= link_to 'join community', new_user_registration_path, class: 'greenbutton' %>
      </li>
    </ul>
  <% end %>
</section>

<section class='community-content'>
  <h1 class='btm-space'>
    Recent discussions in the community:
  </h1>

  <div>
    <% @discussions.each do |discussion| %>
      <article class='single-community-item'>
        <div class='post-description'>
          <h2><%= link_to discussion.title, discussion_path(discussion) %></h2>

          <ul class='post-items'>
            <li class='post-item'>By <%= discussion.username %></li>
            <li class='post-item' momentTime='<%= l(discussion.updated_at, format: :moment) %>'>
              <%= discussion.updated_at.to_date %>
            </li>
            <li class='post-item--last'>
              <%= link_to discussion.discussion_category.name,
                  discussions_path(category: discussion.discussion_category.slug) %>
            </li>
          </ul>
        </div>

        <div class='comment-count'>
          <%= discussion.discussion_comments_count %>
          <span class='replies'>
            <%= "response".pluralize(discussion.discussion_comments_count) %>
          </span>
        </div>
      </article>
    <% end %>
  </div>

  <h4 class='btm-space sessions-header ctr-txt'>
    <%= link_to 'View all discussions', discussions_path %>
  </h4>
</section>