<section class='dashboard-container'>
  <p class='guidelines-intro'>
    Below is the list of admins.
  </p>

  <%= link_to 'Invite admin', new_administrator_path, class: 'admin-btn green-btn flt-rght' %>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Joined?</th>
        <th>Email</th>
        <th class='ctr-txt'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td>
            <%= admin.name %>
          </td>

          <td>
            <%= admin.invitation_accepted_at? %>
          </td>

          <td>
            <%= admin.email %>
          </td>

          <td class='ctr-txt'>
            <%= link_to 'delete', administrator_path(admin), method: :delete,
                data: { confirm: 'Are you sure?' }, id: dom_id(admin) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>