<section class='guidelines-form--wrapper'>
  <h2>
    Invite another admin
  </h2>

  <div class='guideline-form' %>
    <%= form_for @admin, url: administrators_path do |f| %>
      <div>
        <% if @admin.errors.any? %>
          <ul>
            <% @admin.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div class='discussion-form--body'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'discussion-form--input' %>
        </div>

        <div class='discussion-form--body'>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'discussion-form--input' %>
        </div>
      </div>

      <footer>
        <%= f.submit "send invitation", class: "greenbutton" %>
      </footer>
    <% end %>
  </div>

  <%= link_to 'Cancel and return to list of admin', administrators_path, class: 'discussion-form--cancel' %>
</section>