<section class='dashboard-container'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th class='ctr-txt'>Discussions</th>
        <th class='ctr-txt'>Comments</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>

          <td>
            <%= user.username %>
          </td>

          <td>
            <%= user.email %>
          </td>

          <td class='ctr-txt'>
            <%= user.discussion_count %>
          </td>

          <td class='ctr-txt'>
            <%= user.comment_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>