<!DOCTYPE html>
<html>
  <head>
    <title>Mybema dashboard</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "dashboard", media: "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300', media: "all" %>
    <%= javascript_include_tag "dashboard" %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= AppSettings.first.ga_code %>', 'auto');
      ga('send', 'pageview');
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= render 'admin/sidebar' %>
    <div id='flash-notices'>
      <% if notice %>
        <p class="flash flash-notice">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p class="flash flash-alert">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= alert %>
        </p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>