<!DOCTYPE html>
<html>
  <head>
    <title>Mybema dashboard</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "dashboard", media: "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300', media: "all" %>
    <%= javascript_include_tag "dashboard" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= render 'admin/sidebar' %>
    <div id='flash-notices'>
      <% if notice %>
        <p class="flash flash-notice">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p class="flash flash-alert">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= alert %>
        </p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>