<!DOCTYPE html>
<html>
  <head>
    <title>Mybema dashboard</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "dashboard", media: "all" %>
    <%= javascript_include_tag "dashboard" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= render 'admin/sidebar' %>
    <% if notice %>
      <p class="flash flash-notice">
        <%= notice %>
      </p>
    <% end %>

    <% if alert %>
      <p class="flash flash-alert">
        <%= alert %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>