<!DOCTYPE html>
<html>
  <head>
    <title>Mybema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300', media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div id='flash-notices'>
      <% if notice %>
        <p class="flash flash-notice">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p class="flash flash-alert">
          <span id='dismiss-flash-msg' class='home-hero--dismiss-btn'>&times;</span>
          <%= alert %>
        </p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>